.hero{
  padding: var(--space-2xl-3xl) var(--space-m-2xl);
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-m);
  text-align: center;
}

.hero__content {
  margin-bottom: var(--space-m);
}

.hero__title {
  font-size: var(--step-10);
  line-height: 0.98;
  color: var(--color-text-secondary);
  padding: var(--space-2xs) 0;
}
.hero__description {
  font-size: var(--step-2);
  font-family: var(--font-family-sans);
  color: var(--color-text-secondary);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.125rem;
    line-height: 1.2;
}
.hero__services{
  display: flex;
  column-gap: var(--space-m);
  row-gap: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.hero__service{
  font-family: var(--font-family-serif);
  font-size: var(--step-4);
  color: var(--color-text-highlight);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  padding-right:0.5rem;
  margin:0;
  line-height: 1.2;
}
.hero__service:first-child {
  margin-left: 0;
  list-style-type: none;
}