---
interface Props {
  variant: "service" | "retreat" | "blog" | "testimonial";
}

const { variant } = Astro.props;
---

<li class={`card card--${variant}`}>
  <div class="card__header">
    <slot name="header" />
  </div>
  <div class="card__content">
    <slot />
  </div>
  <div class="card__footer">
    <slot name="footer" />
  </div>
</li>
