---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import Hero from "../components/HeroBlock.astro";
import Introduction from "../components/IntroBlock.astro";
import FeaturedServices from "../components/FeaturedServices.astro";
import FeaturedRetreats from "../components/FeaturedRetreats.astro";
import FeaturedTestimonials from "../components/FeaturedTestimonials.astro";
import FeaturedBlogPosts from "../components/FeaturedBlogPosts.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Hero />
      <Introduction />
      <FeaturedServices />
      <FeaturedRetreats />
      <FeaturedTestimonials />
      <FeaturedBlogPosts />
    </main>
    <Footer />
  </body>
</html>
