---

---

<section class="hero">
  <div class="hero__container">
    <div class="hero__header">
      <h1 class="hero__title">Welcome to Lumi</h1>
      <p class="hero__description">Where beauty meets wellbeing</p>
    </div>
    <div class="hero__content">
      <ul class="hero__services">
        <li>Manicure</li>
        <li>Pedicure</li>
        <li>Ear seeding</li>
      </ul>
    </div>
    <div class="hero__footer">
      <div class="hero__actions">
        <a class="hero__action btn btn--primary" href="#">Book an appointment</a
        >
      </div>
    </div>
  </div>
</section>
