---
import { Image } from "astro:assets";
import IntroImage from "../assets/img/yui-shu-owner-studio-lumi.jpg";
---

<section class="intro">
  <div class="intro__container">
    <div class="intro__header">
      <Image
        src={IntroImage}
        alt="Meet Yui owner of Studio Lumi"
        class="intro__image"
      />
    </div>
    <div class="intro__content">
      <h2 class="intro__title">Hi I'm Yui<br /> and Lumi is just me</h2>
      <p>
        Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh
        ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi
        erat porttitor ligula, eget lacinia odio sem nec elit.
      </p><p>
        Cras mattis consectetur purus sit amet fermentum. Praesent commodo
        cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus
        eget urna mollis ornare vel eu leo.
      </p>
    </div>
  </div>
</section>
