@use '/node_modules/utopia-core-scss/src/utopia' as utopia;
  
/* @link https://utopia.fyi/type/calculator?c=393,17,1.125,1440,17,1.2,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l|m-2xl|m-3xl|xl-4xl&g=s,xl,2xl,12 */

:root {
  @include utopia.generateTypeScale((
    "minWidth": 393,
    "maxWidth": 1440,
    "minFontSize": 16,
    "maxFontSize": 20,
    "minTypeScale": 1.125,
    "maxTypeScale": 1.2,
    "positiveSteps": 10,
    "negativeSteps": 2,
    "prefix": "step-",
    "relativeTo": "viewport-width"
  ));
}


/* utility type classes */
.fs--2 {
  font-size: var(--step--2);
  letter-spacing: 0.025em;
  font-weight: normal;
}
.fs--1 {
  font-size: var(--step--1);
  letter-spacing: -0.015em;
  font-weight: normal;
}
.fs-0 {
  font-size: var(--step-0);
  letter-spacing: -0.025em;
  font-weight: normal;
}
.fs-1 {
  font-size: var(--step-1);
  letter-spacing: -0.025em;
  font-weight: normal;
}
.fs-2 {
  font-size: var(--step-2);
  letter-spacing: -0.025em;
  font-weight: normal;
}
.fs-3 {
  font-size: var(--step-3);
  letter-spacing: -0.025em;
  font-weight: normal;
}
.fs-4 {
  font-size: var(--step-4);
  letter-spacing: -0.025em;
  font-weight: normal;
}
.fs-5 {
  font-size: var(--step-5);
  letter-spacing: -0.025em;
  font-weight: normal;
}
.fs-6 {
  font-size: var(--step-6);
  letter-spacing: -0.025em;
  font-weight: normal;
}
.fs-7 {
  font-size: var(--step-7);
  letter-spacing: -0.025em;
  font-weight: normal;
}
.fs-8 {
  font-size: var(--step-8);
  letter-spacing: -0.025em;
  font-weight: normal;
}

.fw--strong {
  font-weight: 600;
}

.lh-compact {
  line-height: 112%;
}
.lh-default {
  line-height: 133%;
}
.lh-roomy {
  line-height: 150%;
}